name: Create Release

# Create XCFramework when a version is tagged
on:
  push:
    tags:

jobs:
  create_release:
    name: Create Release
    runs-on: macos-11
    steps:
      - uses: actions/checkout@main
      - name: Build
        run: swift build -v -c release
      - name: Test
        run: swift test -v
      # - name: Create XCFramework
      #   uses: unsignedapps/swift-create-xcframework@v1.3

      - uses: actions/upload-artifact@v2
        with:
            name: KSPlayer
            path: Sources
